<div class="body">

  <div class="header center-aligned">
    <h1>Your coach</h1>
  </div>

  <div class="container center-aligned">
    <p><%= @message %></p>
    <p><%= @answer_message %></p>
  </div>

<div class="footer center-aligned">

  <div class="button">
    <%= link_to "back", ask_path %>
  </div>

</div>

</div>
